.appNavbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 8rem;
    position: relative;
  }
  
  .navContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }
  
  .links {
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    list-style: none;
    transition: max-height 0.3s ease-out;
  }
  
  .link a {
    color: var(--color-black);
    font-size: 1.2rem;
    font-family: var(--font-medium);
  }
  
  .link a:hover {
    color: var(--color-red);
  }
  
  .navButton {
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 1rem 2.5rem;
    border: 1px solid #000000;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 100;
  }
  
  .bar {
    width: 2rem;
    height: 0.25rem;
    background-color: var(--color-black);
    border-radius: 10px;
    transition: all 0.3s linear;
  }
  
  .showMenu {
    display: block;
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    .navButton {
      display: none;
    }
    .appNavbar {
      padding: 2rem;
    }
  
    .navContainer {
      justify-content: space-between;
    }
  
    .links {
      position: absolute;
      top: 0rem;
      left: 0;
      right: 0;
      background-color: var(--color-white);
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
      padding: 1rem 0;
      max-height: 0;
      overflow: hidden;
      z-index: 100;
    }
  
    .link {
      width: 100%;
      padding: 1rem 2rem;
    }
  
    .hamburger {
      display: flex;
    }
  
    .showMenu {
      max-height: 500px; /* Adjust as needed */
    }
  }
  